<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qallariy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Qallariy">
        <activity
            android:name=".ProductListActivity"
            android:exported="false" />
        <activity
            android:name=".AddProductoActivity"
            android:exported="false" />
        <activity
            android:name=".EditProductoActivity"
            android:exported="false" />
        <activity
            android:name=".ProductoActivity"
            android:exported="false" />
        <activity
            android:name=".VerNegociosActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".EditVendedorActivity"
            android:exported="false" />
        <activity
            android:name=".EditNegocioActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".AddNegocioActivity"
            android:exported="false" />
        <activity
            android:name=".NegociosActivity"
            android:exported="false" />
        <activity
            android:name=".CreateVendedorActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>